.login{
    border:1px solid #42bcf5;
    display: block;
    width: 40%;
   
    padding:20px;
    text-align: center;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.login .login-i{
    width: 100%;
    padding:15px;
    display: flex;
}
.login .login-i label{
    font-size: 18px;
}
.login .login-i input{
    outline: none;
    border: 1px solid #b8b8b8;
    width:100%;
  
    margin-left: 15px;
    margin-right:25px;
    font-size: 18px;
}

.login .submit{
    border:none;
    padding:15px 35px;
    margin-top:10px;
    cursor: pointer;
}


.chat .chat-i{
    padding:150px
}