.login{
  border:1px solid #42bcf5;
  display: block;
  width: 40%;
 
  padding:20px;
  text-align: center;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
}

.login .login-i{
  width: 100%;
  padding:15px;
  display: flex;
}
.login .login-i label{
  font-size: 18px;
}
.login .login-i input{
  outline: none;
  border: 1px solid #b8b8b8;
  width:100%;

  margin-left: 15px;
  margin-right:25px;
  font-size: 18px;
}

.login .submit{
  border:none;
  padding:15px 35px;
  margin-top:10px;
  cursor: pointer;
}


.chat .chat-i{
 height:450px;
  border:1px solid #42bcf5
}

.chat form{
  display: flex;
}
.chat form input{
  width:100%;
  font-size: 20px;
  outline: none;
  border:1px solid #42bcf5;
  border-top:none
}
.chat form .submit-chat{
  width:20%;
  border: none;
  outline:none;
  padding:10px 20px;
  cursor: pointer;
}

.chat .online{
  display: flex;
}
.chat .online div{
  border:1px solid red;
  padding:10px;
  margin:2px;
}

@media screen and (max-width:750px){
  .login{
      width:70%;
  }
  .chat .online{
      overflow-x:scroll;
  }

}

@media screen and (max-width:565px){
  .login{
      width:80%;
  }
  .chat form .submit-chat{
      width: 30%;
  }
  
}

.p404{
  position: absolute;
  text-align: center;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
}

.right{
  text-align: right;
}

.copyright{
  color:#878787;
  cursor: pointer;
}
.copyright a{
  text-decoration: none;
  color:#878787;
  
}

footer{
  position: absolute;
  bottom: 0;
}

.online div{
  cursor: pointer;
}
.online-i{
  border:1px solid #42bcf5;
  border-bottom: none;
}
.online-i h4{
  padding: 3px;
  margin:0;
  border-bottom:1px solid #42bcf5;
}